<h1>Houses#index</h1>
<p style="color: green",id="notice"><%= notice %></p>

<h1>Houses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @house.each do |h| %>
      <tr>
        <td><%=h.name %></td>
        <td><%=h.address %></td>
        <td><%= link_to 'show', house_path(h)%></td>
        <td><%= link_to 'edit', edit_house_path(h)%></td>
        <td><%= link_to 'Destroy', house_path(h),method: :destroy%></td>


    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New House', new_house_path %>
