<h1>Houses#show</h1>
<p style="color: green",id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @house.name %>
</p>

<p>
  <strong>address:</strong>
  <%= @house.address%>
</p>


<%= link_to 'Back', houses_path %>
<%= link_to 'Destroy', house_path(@house),method: :destroy %>
