<p id="notice"><%= notice %></p>

<h1>Plains</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @plains.each do |plain| %>
      <tr>
        <td><%= plain.name %></td>
        <td><%= plain.price %></td>
        <td><%= link_to 'Show', plain %></td>
        <td><%= link_to 'Edit', edit_plain_path(plain) %></td>
        <td><%= link_to 'Destroy', plain, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Plain', new_plain_path %>
