<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @plain.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @plain.price %>
</p>

<%= link_to 'Edit', edit_plain_path(@plain) %> |
<%= link_to 'Back', plains_path %>
